<!-- Nivo Slider -->
<div class="theme-default" id="slider">
    <% @page.images.each do |img| %>
        <%= image_tag img.url %>
    <% end%>
</div>

<!-- row of columns -->

<div class="row">
<div class="span4"><%= @page.content_for(:box_one).html_safe %></div>
<div class="span4 dotted">
<% @items = Refinery::News::Item.latest(3) %>
<%= render :partial => '/refinery/news/items/recent_posts' %>
</div>
<div class="span4 dotted">

<% @blog_posts = Refinery::Blog::Post.live.limit(3) %>
<%= render :partial => '/refinery/blog/posts/recent_blog_posts' %>
</div>
</div>

<hr>
<div class="row">
  <div class="span8"><%= @page.content_for(:box_two).html_safe %></div>
  <div class="span4"><%= @page.content_for(:box_three).html_safe %></div>
</div>

<hr>
<div id="footer">
<div class="row">
  <div class="span3"><%= @page.content_for(:box_four).html_safe %></div>
  <div class="span3"><%= @page.content_for(:box_five).html_safe %></div>
  <div class="span3"><%= @page.content_for(:box_six).html_safe %></div>
  <div class="span3"><%= @page.content_for(:box_seven).html_safe %></div>
</div>
</div>
