<!-- Nivo Slider -->
<div class="theme-default" id="slider">
    <% @page.images.each do |img| %>
        <%= image_tag img.url %>
    <% end%>
</div>

<!-- Example row of columns -->

<div class="row">
<div class="span4"><%= @page.content_for(:box_one).html_safe %></div>
<div class="span4">
<% @items = Refinery::News::Item.latest(5) %>
<%= render :partial => '/refinery/news/items/recent_posts' %>
<%= @page.content_for(:box_two).html_safe %>
</div>
<div class="span4"><%= @page.content_for(:box_three).html_safe %></div>
</div>
<hr>