<!-- Nivo Slider -->
<div class="theme-default" id="slider">
    <% @page.images.each do |img| %>
        <%= image_tag img.url %>
    <% end%>
</div>

<!-- row of columns -->

<div class="row">
<div class="span4"><%= raw @page.content_for(:box_one) %></div>
<div class="span4 dotted">
<% @items = Refinery::News::Item.latest(3) %>
<%= render :partial => '/refinery/news/items/recent_posts' %>
</div>
<div class="span4 dotted">

<% @blog_posts = Refinery::Blog::Post.live.limit(3) %>
<%= render :partial => '/refinery/blog/posts/recent_blog_posts' %>
</div>
</div>

<hr>
<div class="row">
  <div class="span8"><%= raw @page.content_for(:box_two) %></div>
  <div class="span4"><%= raw @page.content_for(:box_three) %></div>
</div>

<hr>
<div id="footer">
<div class="row">
  <div class="span3"><%= raw @page.content_for(:box_four) %></div>
  <div class="span3"><%= raw @page.content_for(:box_five) %></div>
  <div class="span3"><%= raw @page.content_for(:box_six) %></div>
  <div class="span3"><%= raw @page.content_for(:box_seven) %></div>
</div>
</div>
