<!DOCTYPE html>
<%= render :partial => '/refinery/html_tag' %>
  <% site_bar = render(:partial => '/refinery/site_bar', :locals => {:head => true}) -%>
  <%= render :partial => '/refinery/head' %>
  <body>
    
    <header id="header">
    <div id="logo"><%= link_to Refinery::Core.site_name, refinery.root_path %></div>
    <%= render :partial => '/refinery/header' -%>
    </header>
    
    <div class="container">
      <div class="content">
               <%= yield %>
          
    </div>  
    </div>
    <footer><%= render :partial => '/refinery/footer' -%></footer>

    <%= render :partial => '/refinery/javascripts' %>
  </body>
</html>