<!DOCTYPE html>
<%= render :partial => '/refinery/html_tag' %>
  <% site_bar = render(:partial => '/refinery/site_bar', :locals => {:head => true}) -%>
  <%= render :partial => '/refinery/head' %>
  <body>


    <%= render 'header' -%>

    <div class="container">
      <div class="content">
         <%= yield %>
    </div>
    </div>
    <footer><%= render 'footer' -%></footer>

    <%= render :partial => '/refinery/javascripts' %>
  </body>
</html>

<style>
 footer{
     background: none;
 }
</style>