<!DOCTYPE html>
<html>
   <%= render 'refinery/head' %>
  <body>
   <%= render 'header' -%>
   <div class="container">
      <div class="content">
         <%= yield %>
      </div>

     <%= render 'footer' -%>
  </div>
    <!-- JavaScripts -->
   <%= render :partial => '/refinery/javascripts' %>
   <%= yield(:javascripts) %>
   </body>
</html>